@font-face {
    font-family: Chalkboard;
    src: url(../fonts/Chalkduster.ttf);
}

@font-face {
    font-family: MuseoSans;
    font-weight: 300;
    src: url(../fonts/MuseoSans-300.otf);
}

@font-face {
    font-family: MuseoSans;
    font-weight: 700;
    src: url(../fonts/MuseoSans-700.otf);
}

@font-face {
    font-family: MuseoSans;
    font-weight: 900;
    src: url(../fonts/MuseoSans-900.otf);
}