@import "fonts";
@import "mixins";

html, body {
    height: 100%;
}

@include respond-to(mobile) {
    
    .gc {
        text-transform: uppercase;
    }
    .gc-triforce {
        margin-bottom: 4rem;
    }
    .hero-image {
        align-items: center;
        background-image: url('../img/kid_skiing.jpg');
        background-position: center;
        background-size: 140%;
        display: flex;
        height: 45vh;
        justify-content: center;
        width: 100%;
    }
    .promotion {
        background-image: url('../img/chalkboard.jpg');
        color: #fff;
        font-family: Chalkduster, sans-serif;
        padding: 4rem;
        text-align: center;
        h2 {
            font-size: 20px;
        }
        p {
            font-family: MuseoSans, Arial, sans-serif;
            font-weight: 300;
            text-align: left;
        }
    }
    .tagline {
        background-image: url('../img/lockup_mobile.png');
        background-position: center;
        background-size: cover;    
        height: 100%;
        width: 75%;
    }
    
}

@include respond-to(small) {
    
    .hero-image {
        background-position: 50% 40%;
        background-size: 120%;
    }
    .tagline {
        background-image: url('../img/lockup.png');
    }
    
}

@include respond-to(medium) {
    
    .hero-image {
        background-size: 145%;
        height: 75vh;
    }
    .tagline {
        width: 90%;
    }
    
}