@import "colors";
@import "fonts";
@import "mixins";

html, body {
    height: 100%;
}

@include respond-to(mobile) {
    
    .gc {
        text-transform: uppercase;
        h2 {
            font-size: 24px;
        }
    }
    .gc-cta {
        background-color: $orange;
        border: none;
        border-radius: 10px;
        font-family: MuseoSans, Arial, sans-serif;
        font-weight: bold;
        height: 3.25rem;
        padding: 0 1rem;
        text-transform: uppercase;
    }
    .gc-image {
        background-size: cover;
        @include center-block;
        height: 260px;
        padding: 0;
        position: relative;
        width: 360px;
        &.hundo {
            background-image: url('../img/giftcard_100.png');
        }
        &.hundo-fifty {
            background-image: url('../img/giftcard_150.png');
        }
        &.two-hundo {
            background-image: url('../img/giftcard_200.png');
        }
        .value {
            background-color: $green;
            bottom: 20px;
            border-radius: 50%;
            font-family: MuseoSans, Arial, sans-serif;
            font-size: 20px;
            font-weight: bolder;
            height: 4rem;
            line-height: 4rem;
            position: absolute;
            right: 25px;
            transform: rotate(-16deg);
            width: 4rem;
            &:before {
                content: '\002b';
                font-size: 16px;
            }
        }
    }
    .gc-triforce {
        margin-bottom: 4rem;
    }
    .hero-image {
        align-items: center;
        background-image: url('../img/kid_skiing.jpg');
        background-position: center;
        background-size: 140%;
        display: flex;
        height: 45vh;
        justify-content: center;
        width: 100%;
    }
    .promotion {
        background-image: url('../img/chalkboard.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        font-family: Chalkduster, sans-serif;
        padding: 4rem 6.5rem;
        text-align: center;
        p {
            font-family: MuseoSans, Arial, sans-serif;
            font-weight: 300;
            text-align: left;
        }
    }
    .tagline {
        background-image: url('../img/lockup_mobile.png');
        background-position: center;
        background-size: cover;    
        height: 100%;
        width: 75%;
    }
    
}

@include respond-to(small) {
    
    .hero-image {
        background-position: 50% 40%;
        background-size: 120%;
    }
    .tagline {
        background-image: url('../img/lockup.png');
    }
    
}

@include respond-to(medium) {
    
    .hero-image {
        background-size: 145%;
        height: 75vh;
    }
    .tagline {
        width: 90%;
    }
    
}